TELEGRAM_TOKEN = "XXXXX"
ROOMBA_IP = "XXXXX"
ROOMBA_BLID = "XXXXX"
ROOMBA_PASSWORD = "XXXXX"
AUTHORIZED_USER_ID = "YOUR_TELEGRAM_USER_ID"  # Replace with your actual user ID
rest980_host = "192.168.1.1"
rest980_port = 3000